<div class="criterion<%= " best" if defined?(best) && best == item %>">
  <div class="mr-3">
    <i class="fas fa-home"></i>
  </div>
  <p class="mb-0">
    <% if search %>
      <span class="criterion-number"><%= (item.flats_rental_price * search.home_size).round(-1) %> €</span> pour  <%= search.home_size %> m²<br>
      <span class="text-muted" style="font-size: 0.9rem;"><%= item.home_ads %> annonces en ce moment</span>
    <% else %>
      <span class="criterion-number"><%= number_with_delimiter(item.flats_rental_price.round(2), separator: ",") %> €</span><br>
      <span class="text-muted" style="font-size: 0.9rem;">Par m²</span>
    <% end %>
  </p>
</div>