<!-- Title & Buttons -->
<section class="py-4" style="background-color: #F2F2F2; margin-top: 3.6rem;">
  <div class="container d-flex justify-content-between">
    <h1>3 villes sélectionnées pour vous</h1>
    <div class="d-flex">
      <button id="search-resume-btn" class="round-btn mr-2">
        <i class="fas fa-user"></i>
      </button>
      <%= link_to refresh_search_path(@search), method: :patch, remote: true do %>
        <button id="refresh-btn" class="round-btn mr-2">
          <i class="fas fa-sync-alt"></i>
        </button>
      <% end %>
      <button id="criteria-btn" class="round-btn">
        <i class="fas fa-sliders-h"></i>
      </button>
    </div>
  </div>
</section>
<!-- Title -->

<div class="container">

  <!-- Search resume -->
  <section id="search-resume">
    <div class="d-flex align-items-center">
      <h2 class="mb-0 mt-2" style="width: 160px">Votre recherche</h2>
      <div class="d-flex flex-wrap">
        <div class="tag light-purple-tag"><i class="fas fa-check-circle"></i> <%= @search.job_title.capitalize %></div>
        <div class="tag light-purple-tag"><i class="fas fa-check-circle"></i> <%= @search.environment.capitalize %></div>
        <div class="tag light-purple-tag"><i class="fas fa-check-circle"></i> 
          <% if @search.city_type == "urbain" %>
            <%= "#{@search.city_type.capitalize} : #{@search.city_size} ville" %>
          <% else %>
            <%= "#{@search.city_type.capitalize}" %>
          <% end %>
        </div>
        <div class="tag light-purple-tag"><i class="fas fa-check-circle"></i> <%= "#{@search.home_type.capitalize} #{@search.home_category.upcase} de #{@search.home_size} m² pour #{@search.home_budget} €" %></div>
      </div>
    </div>
  </section>
  <!-- Search resume -->

  <!-- Criteria selection -->
  <section id="criteria">
    <div class="d-flex align-items-center">
      <h2 class="mb-0 mt-2" style="width: 160px">Critères</h2>
      <div>
        <button class="btn btn-primary criterion-btn">Emploi</button>
        <button class="btn btn-primary criterion-btn">Logement</button>
        <button class="btn btn-primary criterion-btn">Météo</button>
        <button class="btn btn-outline-primary criterion-btn">Internet</button>
        <button class="btn btn-outline-primary criterion-btn">Tourisme</button>
      </div>
    </div>
  </section>
  <!-- Criteria selection -->

  <!--Cities comparison -->
  <section class="my-5">

    <div class="results">
      <%= render partial: "shared/city_region_name", collection: @cities, as: :item %>
    </div>
    <!--City img -->
    <div class="results">
      <%= render partial: "shared/city_card", collection: @cities, as: :item %>
    </div>
    <!--City img -->

    <!--City description -->
    <div class="results mb-3">
      <%= render partial: "shared/city_description", collection: @cities, as: :item, locals: { search: @search } %>  
    </div>
    <!--City description -->

    <!-- Job criterion -->
    <div id="emploi-criterion" class="criterion-line show">
      <hr>
      <div class="results">
        <%= render partial: "shared/city_job_criterion", collection: @cities, as: :item, locals: { search: @search, best: @cities.max_by(&:job_ads) } %>  
      </div>
    </div>
    <!-- Job criterion -->

    <!-- Home criterion -->
    <div id="logement-criterion" class="criterion-line show">
      <hr>
      <div class="results">
        <%= render partial: "shared/city_home_criterion", collection: @cities, as: :item, locals: { search: @search, best: @cities.min_by(&:flats_rental_price) } %>  
      </div>
    </div>
    <!-- Home criterion -->

    <!-- Weather criterion -->
    <div id="météo-criterion" class="criterion-line show">
      <hr>
      <div class="results">
        <%= render partial: "shared/city_weather_criterion", collection: @cities, as: :item, locals: { best: @cities.min_by(&:rain_days) } %>  
      </div>
    </div>
    <!-- Weather criterion -->

    <!-- Internet criterion -->
    <div id="internet-criterion" class="criterion-line">
      <hr>
      <div class="results">
        <%= render partial: "shared/city_internet_criterion", collection: @cities, as: :item, locals: { best: @cities.max_by(&:ftth_homes_rate) } %>  
      </div>
    </div>
    <!-- Internet criterion -->

    <!-- Tourism criterion -->
    <div id="tourisme-criterion" class="criterion-line">
      <hr>
      <div class="results">
        <%= render partial: "shared/city_tourism_criterion", collection: @cities, as: :item, locals: { best: @cities.max_by(&:tourism_structures_number) } %>  
      </div>
    </div>
    <!-- Tourism criterion -->

    <!-- City link -->
    <div id="city-links" class="results">
      <%= render partial: "shared/city_link", collection: @cities, as: :item %>  
    </div>
    <!-- City link -->

  </section>
  <!--Cities comparison -->

</div>
