<% content_for :meta_title, "Bienvenue #{current_user.first_name}" %>

<!-- Title & Buttons -->
<section class="py-4 mb-4" style="background-color: #F2F2F2; margin-top: 3.6rem;">
  <div class="container d-flex justify-content-between">
    <h1>Votre admin</h1>
  </div>
</section>
<div class="container">
  <section>
    <% if current_user_is_ambassador? %>
    <h2 class="">Les questions sur la ville</h2>

    <div class="accordion mt-4 mb-4" id="accordionExample">
      <% @comments.with_no_answer.each do |comment| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading<%= comment.id %>">
          <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= comment.id %>" aria-expanded="false" aria-controls="collapse<%= comment.id %>">
            <%= comment.content %>
          </button>
        </h2>
      </div>
      <div class="card p-4">
        <%= render "admin/answers/form", city: @city, comment: comment, answer: @answer %>
      </div>
      <% end %>
    </div>
    <% end %>
  </section>


  <!-- Bookmarks -->
  <% if current_user.bookmarks.present? %>
  <section class="my-5">
    <h2 class="mb-3">Vos favoris</h2>
    <div class="cards">
      <% @bookmarks.each do |bookmark| %>
        <%= render 'shared/city_card', item: bookmark.city %>
      <% end %>
    </div>
  </section>
  <% end %>
<!-- Bookmarks -->
</div>
