<!-- Title & Buttons -->
<section class="py-4 mb-4" style="background-color: #F2F2F2; margin-top: 3.6rem;">
  <div class="container d-flex justify-content-between">
    <h1>Mon compte</h1>
    <%= link_to edit_user_registration_path(current_user), class: "btn btn-outline-primary d-flex align-items-center" do %>
      <i class="fas fa-pen mr-2"></i> &Eacute;diter mon compte
    <% end %>
  </div>
</section>
<div class="container">
  <section>
    <% if current_user_is_ambassador? %>
    <h2 class="">Les questions sur la ville</h2>

    <div class="accordion mt-4 mb-4" id="accordionExample">
      <% @comments.with_no_answer.each do |comment| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading<%= comment.id %>">
          <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= comment.id %>" aria-expanded="false" aria-controls="collapse<%= comment.id %>">
            <%= comment.content %>
          </button>
        </h2>
      </div>
      <div class="card p-4">
        <%= render "admin/answers/form", city: @city, comment: comment, answer: @answer %>
      </div>
      <% end %>
    </div>
    <% end %>
  </section>


  <!-- Bookmarks -->
  <section class="my-5">
    <h2 class="mb-3">Mes favoris</h2>
    <% if current_user.bookmarks.present? %>
      <div class="cards">
        <% @bookmarks.each do |bookmark| %>
          <%= render 'shared/city_card', item: bookmark.city %>
        <% end %>
      </div>
    <% else %>
      <p>
        Retrouvez ici toutes vos villes favorites.<br>
        Décrivez-nous d'abord vos envies pour vous aider à trouver la ville qui vous correspond le mieux.
        <div><%= link_to "Inspirez-moi", new_search_path, class: "btn btn-primary" %></div>
      </p>
    <% end %>
  </section>
<!-- Bookmarks -->
</div>
