<!DOCTYPE html>
<html>
  <head>
    <title>Nextcity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>

    <% if @mega_banner %>
      <%= render 'cities/city_banner' %>
    <% end %>

    <div class="<%= 'container' unless @disable_container %> " style="<%= 'margin-top: 7rem; margin-bottom: 3.4rem;' unless @disable_margins %>">

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
